[id^="page-tab-"] {
  font-size: 20px;
  color: gray;
}

[id^="page-tab-active-"] {
  color: #2185c5;
}

.notebook {
  padding-bottom: 50px;
}

.slides {
  padding-bottom: 50px;
}

.notebook-switch {
  padding-bottom: 10px;
}

[id^="language-badge-"] {
  background-color: #92ad94 !important;
  margin-right: 5px;
}

[id^="topic-badge-"] {
  background-color: #71bceb !important;
  color: black;
  margin-right: 5px;
}

.home-header {
  color: #2185c5;
}

.carousel-label {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
}

#checkbox-row {
  padding-bottom: 10px;
}

.canvas-buttons {
  padding-top: 5px;
}

.predict-button {
  padding-top: 5px;
}

.word-weight {
  background-color: transparent;
  -webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
  transition: background-color 2s;
}

.unscramble-btn {
  margin-top: 30px !important;
}

.unscrambled-words:hover {
  color: #92ad94;
  -webkit-transition: color 0.25s; /* For Safari 3.1 to 6.0 */
  transition: color 0.25s;
}
